<script
  src="https://kit.fontawesome.com/d93bc0fd13.js"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://cdn.glitch.com/56a75143-92fd-4d1c-80c3-7efe116be168%2Fk.js?v=1580346037687"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.3/dist/confetti.browser.min.js"></script>
<script src="https://cdn.glitch.com/56a75143-92fd-4d1c-80c3-7efe116be168%2Fc.js?v=1580346346769"></script>
<script src="https://cdn.glitch.com/d62580d1-04a7-4eb1-9a98-30c4d9a7fd50%2Fhyperdrive.js?v=1579716733810"></script>
<script src="/public/client.js"></script>
